
:root {
    --background-color: #FFFFFF;
    --menu-text: #404BBF;
    --text-h2-h3-p: #2E2F42;
    --team-item-text: #434455;
    --footer-text: #4d5ae5;
    --btn-background: #F4F4FD;
    --logo-color: #4d5ae5;
}

body {
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
color: #434455;
background-color: var(--background-color);
width: auto;
}

p, h1,h2,h3,h4,h5,h6 {
margin-top: 0;
margin-bottom: 0;
}

.a {
text-decoration: none;
}

.ul {
list-style-type: none;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
}

.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

.link {
text-decoration: none;
display: block;
}

.link:hover {
color: #404bbf;
}

.link:focus {
color: #404bbf;
}

.list {
list-style: none;
margin-top: 0%;
margin-bottom: 0;
padding-left: 0%;
}

.container {
width: 100%;
max-width: 1158px;
padding-left: 15px;
padding-right: 15px;
margin: 0 auto;
}

img {
display: block;
}

/*--------- HEADER---------*/

.header {
border-bottom: 1px solid #e7e9fc;
}

.header-container {
display: flex;
}

.header-nav {
display: flex;
align-items: center;
flex-grow: 1px;
justify-content: space-between;
}

.header-logo {
font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5; 
display: flex;
align-items: center;
margin-right: 76px;
}

.header-logo-color{
color: #2E2F42;
}

.header-web-item {
display: flex;
margin-left: 76px;
gap: 40px;
}

.header-web-menu{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2E2F42;
padding: 24px 0;
}

.header-web-menu:hover{
color: #404bbf;
}

.header-web-menu:focus {
color: #404bbf;
}

.address {
font-style: normal;
}

.header-address {
display: flex;
gap: 40px;
padding-right: 15px;
margin-left: 332px;
}

.header-address {
font-style: normal;
padding: 24px 0;
}

.header-address-item {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/*--------- HOME---------*/

.home {
background-color: #2E2F42;
padding-top: 188px;
padding-bottom: 188px;
}

.home-container {
background: #2E2F42;
}

.home-title {
font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;
max-width: 496px;
margin-bottom: 48px;
text-align: center;
margin-left: auto;
margin-right: auto;
    
}

.home-btn {
min-width: 169px;
height: 56px;
padding: 16px 32px;
font-family: "Roboto", sans-serif;
background-color: #4D5AE5;;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #FFFFFF;
cursor: pointer;
font-family: inherit;
margin-left: auto;
margin-right: auto;
}

.button-class {
cursor: pointer;
display: block;
background: #4D5AE5;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: none;
}

.button-class:hover {
background-color: #404BBF;
}

.button-class:focus {
background-color: #404BBF;
}

/*---------stratech---------*/

.stratech{
padding-top: 120px;
padding-bottom: 120px;
}

.stratech-list {
display: flex;
margin-top: 120px;
gap: 24px;
}

.stratech-item{
width: calc((100% - 72px) / 4);
}

.stratech-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--text-h2-h3-p);
margin-bottom: 8px;
}

.stratech-item-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
padding-bottom: 120px;
}

/*---------What---------*/

.what {
padding-bottom: 120px;
}

.what-img {
display: flex;
gap: 24px;
padding-bottom: 120px;
}

.what-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--text-h2-h3-p);
margin-bottom: 72px;
}

/*---------team---------*/

.team {
padding: 120px 0;
}

.container-list {
display: flex;
gap: 24px;
}

.team {
background-color: #F4F4FD;
}

.team-main {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--text-h2-h3-p);
margin-bottom: 72px;
}

.team-item {
background-color: #FFFFFF;
border-radius: 0px 0px 4px 4px;
}

.container-team {
padding: 32px 16px;
}


.container-mark {
margin-top: 32px;
}

.team-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.02em;
color: var(--text-h2-h3-p);
margin-bottom: 8px
}

.team-item-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: var(--team-item-text);
}

/*---------footer---------*/

.footer{
background-color: #2e2f42;
padding: 100px 0;
}

.footer-logo {
font-family: 'Raleway', sans-serif; 
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--logo-color);
}

.footer-logo-color {
color: #F4F4FD;

}
.footer-item {
display: inline-block;
 margin-bottom: 16px;
}

.footer-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--btn-background);
}

/*---------portfolio-btn--------*/

.portfolio {
padding-top: 96px;
padding-bottom: 120px;
margin-right: auto;
margin-left: auto;
}

.applications-item {
border: 1px solid #e7e9fc;
border-top: none;
width: calc((100% - 48px) / 3);
}

.icon {
display: flex;
gap: 24px;
margin-bottom: 72px;
justify-content: center;
}

.btn-title{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #4D5AE5;
font-family: "Roboto";
background-color: var(--btn-background);
cursor: pointer;
font-family: inherit;
border: 1px solid #e7e9fc;
border-radius: 4px;
display: block;
padding: 12px 24px 12px 24px;
}

.btn-title:hover {
color: #FFFFFF;
background-color: #404BBF;
border: 1px solid transparent;
}

.btn-title:focus{
color: #FFFFFF;
background-color: #404BBF;
border: 1px solid transparent;
}

/*---------list-applications--------*/

.applications {
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
padding: 0px;
gap: 24px;
row-gap: 48px;
}

.desk-item {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
margin-bottom: 8px;
}

.container-img {
border-bottom: '1px solid #e7e9fc';
border-left: '1px solid #e7e9fc';
border-right: '1px solid #e7e9fc';
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;
}

.desk-point {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
